body{
    width: 950px;
    margin: auto;
}
.personalimg{
    width: 385px;
    height: 500px;
    float: right;
}
div{
    margin-top: 50px;
    padding-top: 50px;
    padding-left: 50px;
    background-color: #59a6fe;
    height: 450px;
}
div h1{
    font-size: 50px;
    text-align: center;
    font-family: cursive;
    text-shadow: 76 55 black;
    color: #981240;
}
.hello{
    font-size: 20px;
    background-color: #8ecefe;
    display: inline-block;
}

p{
    font-size: 18px;
    font-size: 18px;
    font-family: monospace;
}
h2{
    text-align: center;
    margin-top: 15px;
    background-color: #092b68;
    color: white;
    padding: 20px;
}

.div2{
    background-color: #cfcada;
    /* text-align: center; */
    /* font-size: medium; */
    margin-top: 10px;
    /* width: 300px; */
    color: #333330;
    font-size: 20px;
    line-height: 38px;
    padding: 26px;
    height: auto;
}

ol{
    padding-left: 70px;
}
.song{
    width: 500px;
    /* height: 397px; */
    float: right;
}

html{
    background-image: url(https://cdn.pixabay.com/photo/2016/06/02/02/33/triangles-1430105_960_720.png);
    background-repeat: no-repeat;
    background-size: cover;
}
ul{
    line-height: 28px;
    font-family: sans-serif;
}